{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "SIH26035BucketMetadata",
      "Effect": "Allow",
      "Action": [
        "s3:GetBucketVersioning",
        "s3:GetBucketPublicAccessBlock",
        "s3:ListBucketVersions"
      ],
      "Resource": "arn:aws:s3:::REPLACE_BUCKET_NAME"
    },
    {
      "Sid": "SIH26035VersionedObjects",
      "Effect": "Allow",
      "Action": [
        "s3:PutObject",
        "s3:GetObject",
        "s3:GetObjectVersion",
        "s3:DeleteObjectVersion"
      ],
      "Resource": "arn:aws:s3:::REPLACE_BUCKET_NAME/*"
    }
  ]
}
